.panel {
  margin-bottom: 20px;
  background-color: #ffffff;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  position: relative;
  min-height: 1px;
  padding-top: 50px;
  padding-right: 15px;
  padding-left: 15px; }

.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px; }

.panel-heading {
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px; }

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%; }
  table tr:nth-child(even) {
    background-color: #ececec; }

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px; }

tr:hover {
  background-color: #d9d9d9 !important; }

button {
  background-color: #428bca;
  border: none;
  color: white;
  padding: 3px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px; }

.button1 {
  padding: 1px 5px;
  color: #ffffff;
  background-color: #428bca;
  border-color: #357ebd;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.button-create-request {
  padding: 1px 5px;
  color: #ffffff;
  background-color: #40d46c;
  border-color: #35bd5e;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.428571429;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }

.button-create-request:hover {
  background-color: #abb1b6;
  color: #000; }

.button1:hover {
  background-color: #abb1b6;
  color: #000; }
