.form-title {
	position: relative;
	height: 150px;
	background-image: url("https://images.unsplash.com/photo-1495620093313-9b049219e095?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80");
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
    text-align: center;
}

.container {
	box-shadow: 15px 15px 20px 2px gray;
	transition: .2s;
	&:hover {
		box-shadow: 15px 15px 20px 1px rgb(156, 156, 240);
	}
	border: 1px solid gray; 
	margin-top: 5px; 
	border-radius: 15px;
}

.new-form {
	padding: 15px;
}

h2 {
	font-family: 'Cinzel', serif;
}